{% extends 'usuarios/base_dashboard_doctor.html' %}

{% block content %}
    <h2>Citas Pendientes</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Paciente</th>
                <th>Motivo</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for cita in citas_pendientes %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ cita.paciente.username }}</td>
                <td>{{ cita.motivo }}</td>
                <td>
                    <a href="{% url 'detalles_cita_doctor' cita.id %}" class="btn btn-info">Ver Detalles</a>
                    <a href="{% url 'programar_cita' cita.id %}" class="btn-custom">Programar Cita</a>
                    <a href="{% url 'rechazar_cita' cita.id %}" class="btn btn-danger" onclick="return confirm('¿Estás seguro de rechazar esta cita?')">Rechazar</a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="4" class="text-center">No hay citas pendientes</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
