<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles de Cita</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <h1>Detalles de Cita</h1>
        <div class="card mt-4">
            <div class="card-body">
                <h5 class="card-title">Fecha y Hora Programadas</h5>
                <p><strong>Fecha Programada:</strong> {{ cita.fecha|date:"d \d\e F \d\e Y" }}</p>
                <p><strong>Hora:</strong> {{ cita.hora }}</p>
                <h5 class="card-title">Información de la Cita</h5>
                <p><strong>Paciente:</strong> {{ cita.paciente.username }}</p>
                <p><strong>Motivo:</strong> {{ cita.motivo }}</p>
                <p><strong>Estado:</strong> 
                    {% if cita.estado == 'aceptada' %}
                        <span class="badge badge-success">Aceptada</span>
                    {% elif cita.estado == 'rechazada' %}
                        <span class="badge badge-danger">Rechazada</span>
                    {% else %}
                        <span class="badge badge-warning">Pendiente</span>
                    {% endif %}
                </p>
            </div>
        </div>
        <div class="mt-3">
            <a href="{% url 'editar_cita_doctor' cita.id %}" class="btn btn-warning">Editar Cita</a>
            <a href="{% url 'dashboard_doctor' %}" class="btn btn-secondary" >Volver al Dashboard</a>
        </div>
    </div>
</body>
</html>
